page-login {

}

.loginTitle{
  text-align: center;
}

.loginButtons button{
  margin: 10px;
  margin-top: 15px;
  opacity: 0.6;
}

.loginButtons #signUpButton{
  background: none;
  color: dodgerblue;
}

.loginButtons ion-label{
  margin-top: 240px;
  text-align: center;
  font-size: 24px;
  color: #488aff;
}

#loginContent{
  background: url("../assets/imgs/CookLogo.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 400px;
}

page-login h2{
  text-align: center;
  font-family: "Monotype Corsiva";
  font-size: 32px;
}

ion-list{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
