page-signup {
}

.titleSignUp{
  text-align: center;
}

.signUp{
  margin-top: 45px;
  opacity: 0.75;
}

#signUpContent{
  background: url("../assets/imgs/CookLogo.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
